<header class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{path('app_homepage')}}"><img src="{{asset('img/logo.png')}}" alt="Basica"></a>
        </div>
        <div class="collapse navbar-collapse">
              {{ render(controller('App\\Controller\\PageController::indexAction', {'currentId': app.request.attributes.get('id'), 'currentRoute': app.request.attributes.get('_route') })) }}
        </div>
        <span class="float-left">
          {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{'bienvenue' | trans}} <span style="color: #aec62c;">{{app.user}}</span> !
         {% endif %}
         </span>
          <span class="float-right">

          <a {% if app.request.locale == 'fr' %}class="active"{% endif %} href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">FR</a> |
          <a {% if app.request.locale == 'en' %}class="active"{% endif %} href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">EN</a>
        </span>
    </div>
</header><!--/header-->
