<div class="pagination-wrapper ">
{% set data_limit = 4 %}
{% set data_lastPage = 0 %}
  <ul class="pagination pagination-sm" id="pagination" data-locale="{{app.request.locale}}" data-page="1" data-offset="0" data-limit="{{data_limit}}" data-url="{{path('app_articles_pagination')}}">
    <li class="disabled"><a href="#" data-value ="prec">{{'pagination.precedent' | trans}}</a></li>
    {% for i in 0 .. nbArticles/data_limit %}
      <li {% if i == 0 %}class="active"{% endif %}><a href="#" data-value ="{{i + 1}}">{{i + 1}}</a></li>
      {% set data_lastPage = data_lastPage + 1 %}
    {% endfor %}
    <li><a href="#" data-value ="suiv">{{'pagination.suivant' | trans}}</a></li>
    <span id="data-lastPage" data-lastPage="{{data_lastPage}}"></span>
  </ul>
</div>
