<!-- Our Portfolio -->


  <ul class="grid cs-style-3">

    {% for work in works %}
      <div class="col-md-4 col-sm-6">
        <figure>
          <img src="{{asset('img/portfolio/' ~work.imageName)}}" alt="{{work.imageName}}">
          <figcaption>
            <h3>{{attribute(work, 'titre' ~ app.request.locale)}}</h3>
            <span>{{work.auteur.prenom}} {{work.auteur.nom}}</span>
            <a href="{{path('app_works_show', {'_locale': app.request.locale ,'id': work.id, 'slug': attribute(work, 'slug' ~ app.request.locale)})}}">{{'portfolio_detail' | trans}}</a>
          </figcaption>
        </figure>
      </div>
    {% endfor %}

  </ul>

<!-- Our Portfolio -->
